<style>
    #spotifyLinks{
        overflow: auto;
        white-space: nowrap;
    }
    .btn1{
        background-color: rgb(30 215 96);
    }
    .spDiv{
        box-shadow: 5px 8px 10px #888888;
        transition: 0.5s;
        /*border-radius: 15px;*/
        height: 280px;
        width: 280px;
        /*background-color: #222222;*/
        background-image: url("https://pngimg.com/uploads/vinyl/vinyl_PNG63.png");
        background-size: cover;
    }

    .spDiv:hover{
        box-shadow: 7px 10px 14px #666666;
        border-radius: 5px;
        height: 310px;
        width: 310px;
    }

    .imgSp{
        transition: 0.5s;
        height: 130px;
        width: 130px;
        object-fit: cover;
        /*border-radius: 15px;*/
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .spDiv:hover>.imgSp{
        height: 160px;
        width: 160px;
        /*border-radius: 5px;*/
    }
    .buttonSp{
        text-align: center;
        margin-top: 2px;
    }
    ul {
        list-style: none;
        display: inline-grid;
        grid-auto-columns: 320px;
    }
    h5{
        text-align: center;
        font-size: 20px;
    }
    li{
        padding-bottom: 5px;
    }
</style>
<footer style="height: 30%;background-color: #eee;" class="text-black-50 mt-xl-5" xmlns:th="http://www.thymeleaf.org">
    <hr>
    <div style="margin-top: 35px" class="container">
        <div id="spotifyLinks">
            <ul th:each="spLink: ${spLinks}">
                <li>
                    <div class="spDiv rounded-circle">
                        <br>
                        <h5 style="color: white; margin-top: 20px" class="fw-bold"><th:block th:text="${spLink.getName()}"></th:block></h5>
                        <img class="imgSp rounded-circle" th:src="${spLink.getImage()}">
                        <div class="buttonSp">
                            <a class="btn btn-outline-light btn1" target="_blank" th:href="${spLink.getLink()}">Start Listening</a>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">CHAD APP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/home">Home</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/schedules">Schedules</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/exercise-list">Exercises</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/about">About</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/bmi">BMI Calculator</a>
                    </li>
                </ul>


                <ul class="nav navbar-nav navbar-right">

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="#">
                            <th:block th:if="${#request.getRemoteUser() != null}"
                                      th:text="${#request.getRemoteUser()}"></th:block>
                        </a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="btn btn-light btn-sm ml-3" href="/logout">
                            <i class="fa fa-shopping-cart"></i> Logout
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="btn btn-light btn-sm ml-3" href="/login">
                            <i class="fa fa-shopping-cart"></i> Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</footer>