<th:block xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">FITNESS APP</h1>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form action="/schedules/add" method="POST">
                    <label for='name'>Schedule Name:</label>
                    <input id='name' type='text' name='name' th:value="(${schedule} != null ? ${schedule.getName()} : '')"/><br/>
                    <label for='difficulty'>Difficulty:</label>
                    <input id='difficulty' type='text' name='difficulty' th:value="(${schedule} != null ? ${schedule.getDifficulty()} : '')"/><br/>
                    <!--<input type="text" id="courseId" name="courseId" th:value="(${course} != null ? ${course.getCourseId()} : '')" hidden>-->
                    <label for="type">Type:</label>
                    <select name="type" id="type">
                        <option th:each="type: ${types}" th:value="${type}" th:text="${type}" ></option>
                    </select>
                    <input type='submit' name="submit" value='Submit'/>
                </form>
            </div>
        </div>
    </div>


</th:block>