<div>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">FITNESS APP</h1>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form action="/exercise-list/add-exercise" method="POST">
                    <input id="id" type="hidden" name="id" th:value="(${exercise} != null ? ${exercise.getId()} : '')">
                    <div class="form-group">
                        <label for="name">Exercise name</label>
                        <input type="text"
                               class="form-control"
                               id="name"
                               name="name"
                               th:value="(${exercise} != null ? ${exercise.getName()} : '')"
                               required
                               placeholder="Enter exercise name">
                    </div>
                    <div class="form-group">
                        <label for="reps">Reps</label>
                        <input type="number"
                               class="form-control"
                               id="reps"
                               name="reps"
                               th:value="(${exercise} != null ? ${exercise.getReps()} : '')"
                               placeholder="Reps">
                    </div>
                    <div class="form-group">
                        <label for="difficulty">Difficulty</label>
                        <input type="number"
                               class="form-control"
                               id="difficulty"
                               name="difficulty"
                               th:value="(${difficulty} != null ? ${exercise.getDifficulty()} : '')"
                               placeholder="Difficulty">
                    </div>
                    <div class="form-group">
                        <label>Weights</label>
                        <ul>
                            <li th:each="bool: ${bool}"><input type="radio" name="weights" th:value="${bool} != null ? ${bool} : ${bool}"><th:block th:text="${bool}"></th:block></li>
                        </ul><br>
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <ul>
                            <li th:each="type: ${type}"><input type="radio" name="type" th:value="${type}"><th:block th:text="${type}"></th:block></li>
                        </ul><br>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text"
                               class="form-control"
                               id="description"
                               name="description"
                               th:value="(${exercise} != null ? ${exercise.getDescription()} : '')"
                               required
                               placeholder="Enter description">
                    </div>
                    <div class="form-group">
                        <label for="image">Image</label>
                        <input type="text"
                               class="form-control"
                               id="image"
                               name="image"
                               th:value="(${image} != null ? ${exercise.getImage()} : '')"
                               placeholder="Image link">
                    </div>
                    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                    <a type="button" class="btn btn-primary" href="/exercise-list">Back</a>
                </form>
            </div>
        </div>
    </div>


</div>