
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">CHAD APP</h1>
    </div>
</section>

<div class="container">
    <div style="width: 70%" class="row">
        If you want to get in touch with us please don not hesitate to contact us on Facebook and Instagram profiles:<br>
        <ul style="list-style: none">
            <li><a target="_blank" href="https://www.facebook.com/rade.bikovski.1">Workout master RADE.</a></li>
            <li><a target="_blank" href="https://www.facebook.com/darko.apostolov.56/">Professional CHAD Darko.</a></li>
        </ul>
    </div>
</div>