<div xmlns:th="http://www.thymeleaf.org">
    <style>
        img{
            height: 500px;
        }
        .comments-list{
            list-style: none;
        }
        .comments{
            box-shadow: 2px 5px 5px #888888;
            width: 30%;
            border: 1px solid gray;
            border-radius: 10px;
        }
        .commentContent{
            padding: 5px;
        }
        .hr{
            width: 70%;
        }
        .commentTime{
            font-size: 12px;
            color: darkgray;
            padding: 3px;
            margin: 5px;
            text-align: right;
            font-style: italic;
        }
        .commentButtons{
            display: flex;
        }
    </style>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">FITNESS APP</h1>
            <h3 class="jumbotron-heading" th:text="${exercise.getName()}"></h3>
        </div>
        <p><img th:src=" ${exercise.getImage()}"></p>
        <b>Difficulty: </b><p><th:block th:text=" ${exercise.getDifficulty()}"></th:block></p>
        <b>Reps: </b><p><th:block th:text=" ${exercise.getReps()}"></th:block></p>
        <b>Type: </b><p><th:block th:text=" ${exercise.getType()}"></th:block></p>
        <b>Description: </b><p><th:block th:text=" ${exercise.getDescription()}"></th:block></p>
        <b>Likes:</b><p th:text=" ${exercise.getLikes()}"></p>
        <b>Dislikes: </b><p th:text=" ${exercise.getDislikes()}"></p>
    </section>
    <div class="container">
        <form th:action="@{'/comment/add-comment-form/{exercise}' (exercise=${exercise.getId()})}" method="GET">
            <button class="btn btn-primary" type="submit">Add Comment</button>
        </form>
        <ul class="comments-list" th:each="comment: ${comments}">
            <br>
            <li>
                <div class="h4" th:text="${comment.getUser().getUsername()}"></div>
                <div class="comments">
                <div class="commentContent" th:text="${comment.getContent()}"></div>
                    <hr class="hr">
                <div class="commentTime" th:text="${comment.getDate()}"></div>
                </div>
                <div th:if="${#request.getRemoteUser()}==${comment.getUser().getUsername()}" class="commentButtons">
                <form th:action="@{'/comment/delete/'+${comment.getId()}+'/'+${exercise.getId()}}"
                      th:method="DELETE">
                    <button type="submit"
                            class="btn btn-sm btn-danger">
                        <i class="fa fa-trash">Delete</i>
                    </button>
                </form>
                <form th:action="@{'/comment/edit-comment/'+${comment.getId()}+'/'+${exercise.getId()}}"
                      th:method="GET">
                    <button type="submit"
                            class="btn btn-sm btn-warning">
                        <i class="fa fa-trash">Edit</i>
                    </button>
                </form>
                </div>
            </li>
        </ul>
    </div>
</div>