<div xmlns:th="http://www.thymeleaf.org">

    <style>
        img{
            height: 100px;
        }
        ul{
            list-style: none;
            display: inline-block;
        }
    </style>

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">FITNESS APP</h1>
            <h3 class="jumbotron-heading">Exercises</h3>
        </div>
    </section>

    <div th:if="${hasError}">
        <h5 class="text-center text-danger" th:text="${error}"></h5>
    </div>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12" th:if="${exercises.size() > 0}">
                <div class="table-responsive">
                        <ul th:each="exercise : ${exercises}" class="cart-item">
                            <div style="border-radius: 15px; border: 5px solid darkslategray; width: 300px">
                                <ul>
                            <li  th:text="${exercise.getName()}"></li>
                            <li th:text="${exercise.getDifficulty()}"> </li>
                             <li th:text="${exercise.getType()}" ></li>
                             <li><img th:src="${exercise.getImage()}"></li>
                             <li th:text="${exercise.getLikes()}"></li>
                             <li th:text="${exercise.getDislikes()}"></li>
                             <li>
                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <form th:action="@{'/schedules/exercise/{id}/delete/' (id=${exercise.getId()})}"
                                          th:method="DELETE">
                                        <button type="submit"
                                                class="btn btn-sm btn-danger delete-product">
                                            <i class="fa fa-trash">Delete</i>
                                        </button>
                                    </form>
                                </th:block>
                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a th:href="@{'/schedules/exercise/{id}/edit-form/' (id=${exercise.getId()})}"
                                       class="btn btn-sm btn-info edit-product">
                                        <i class="fa fa-trash">Edit</i>
                                    </a>
                                </th:block>
                             </li>
                                </ul>
                            </div>
                            </ul>

                </div>
            </div>
        </div>
    </div>
<div>




