<div>
    <style>
        h1{
            width: 300px;
            border-radius: 20px;
            margin-left:auto;
            margin-right: auto;
            border: 5px solid black ;
            background: lightgray
        }
    </style>
<section style="height:550px; background-image: url('https://c.tenor.com/yn9KemXo1FYAAAAd/giga-chad.gif')" class="jumbotron text-center" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <h1 class="jumbotron-heading">FITNESS APP</h1>
    </div>
</section>
</div>


